<footer class="container-fluid bg-dark text-center rounded-pill">
<div class="row">
<div class="col-md-12 col-sm-12 col-xs-12 p-o">
<div class="footer-bottom">
<div class="info-links" style="display: flex; justify-content: space-between; align-items: center;">





<div class="social-links" style="text-align: center; flex: 1; display: inline-block,">
<a href="#" class="btn btn-social text-white" style="color: #25D366; text-decoration: none;">
<img src="{{ asset('socail_icons/whatsapp.png') }}" alt="whatsapp">
</a>
</div>
</div>
</div>
</footer>
